body {
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,ul{
    margin: 0px;
    padding: 0px;
}
header .container nav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}
header .container nav .navigation-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}
header .container nav .navigation-links li {
    margin-right: 20px;
}
header .container nav .navigation-links li a {
    color: #797364;
    text-decoration: none;
}
header .container nav .navigation-links li a:hover {
    color: #8c7640;
}
header .container nav .logo-container {
    max-width: 111px;
    max-height: 60px;
}
header .container nav .logo-container img {
    width: 100%;
    height: 100%;
}
.banner {
    background:url(./Images/Banner.jpg);
    background-size:100% 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    height: 450px;
}
.banner .container .banner-wrapper {
    margin: auto;
}
.banner .container .banner-wrapper .banner-heading {
    margin-left: 60px;
    margin-top: 150px;
}
.banner .container .banner-wrapper .banner-heading h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
.banner .container .banner-wrapper .banner-heading h2 {
    font-size: 52px;
    font-family: Arial;
    color: #fff;
}
.about {
    padding-top: 30px;
}
.about .about-wrapper .row {
    margin: 0px 0px 10px 0px;
    display: flex;
}
.about .about-wrapper .about-img {
    width: 49%;
}
.about .about-wrapper .about-img img {
    width: 100%;
}
.about .about-wrapper .about-content {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 10px;
    width: 51%;
}
.about .about-wrapper .about-content .about-head-1 {
    font-size: 34px;
    color: #000;
    margin-bottom: 10px;
}
.about .about-wrapper .about-content .about-head-2 {
    font-size: 40px;
    color: #8c7640;
    /* margin-bottom: 20px; */
}
.about .about-wrapper .about-content p{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 20px;
}
.color{
    color: #8c7640;
}
.call-back-form {
    padding-top: 50px;
}
.call-back-form .call-back-head {
    text-align: center;
    margin-bottom: 80px;
}
.call-back-form .call-back-head .headline {
    font-size: 50px;
    color: #000;
}
.call-back-form .call-back-head .call-subtext {
    font-size: 62px;
    color: #8c7640;
    margin-bottom: 20px;
}
.call-back-form .call-back-head p {
    color: #564e3b;
}
form{
    width: 850px;
    margin: auto;
}
.call-back-form form .row{
    display: flex;
}
.call-back-form form .row .name{
    width: 50%;
}
.call-back-form form .row .lstname{
    width: 50%;
}
.call-back-form form .row .email{
    width: 50%;
}
.call-back-form form .row .phone{
    width: 50%;
}
.call-back-form form .row .lastrow{
    justify-content: space-between;
}
.call-back-form form .row .message input{
    height: 200px;
}
.call-back-form form fieldset {
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
    border: none;
}
.call-back-form form input {
    border-top: none;
    border-left: none;
    border-right: none;
    height: 35px;
}
.call-back-form form input:focus {
    outline: none;
}
.call-back-form form .checkbox fieldset {
    flex-flow: row;
}
.call-back-form form .checkbox label {
    margin-left: 10px;
    width: 550px;
}
.call-back-form form .sent input {
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 60px;
}
.call-back-form form .sent input:hover {
    background-color: #8c7640;
    color: white;
    border: none;
    cursor: pointer;
}
footer{
    background-color: #8c7640;
    padding-bottom: 100px;
    padding-top: 50px;
}
footer .footer-links{
    width: 1100px;
    margin: auto;
}
footer .row{
    display: flex;
}
footer .row .footerlogo{
    width: 30%;
    display: flex;
    justify-content: center;
}
footer .row .footerlogo .logo-container{
    height: 40px;
    margin: auto;
}
footer .row .footer-about{
    width: 20%;
}
footer .row .rooms{
    width: 20%;
}
footer .row .projects{
    width: 15%;
}
footer .row .more{
    width: 15%;
}
footer .row .more-abt-us{
    color: white;
    margin-top: 10px;
    font-size: 17px;
}
footer .row a{
    text-decoration: none;
    color: white;
}
footer ul{
    list-style-type: none;
}
footer ul li{
    margin-top: 10px;
}
footer .social-media{
    display: flex;
}
footer .social-media .social-links{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}
footer .social-media .social-links img{
    width: 70%;
    height: 70%;
    margin-top: 5px;
    margin-left: 5px;
}
footer .footer-head{
    margin-top: 10px;
    font-size: 20px;
}
footer .footer-address{
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
    color: white;
}